<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Edicion : {{ object }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form_editar" method="POST" action="{% url 'ProsPy:EditarCaPrediccion' object.pk %}">
            {% csrf_token %}
            <div class="modal-body">
                <div id="error_editar">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" onclick="cerrar_modal_editar()">Cancelar</button>
                <button id="boton_creacion" type="button" class="btn btn-primary" onclick="editarcaprediccion();">Aceptar</button>
            </div>
        </form>
    </div>
    <!-- /.modal-content -->
</div>

